



{{#if uri}}
  <div class="row">
       <div class="teal lighten-4 green-text text-darken-4 panel panel-default well well-lg ">
          <div class="panel-heading"><h4 class="amber-text lighten-2"><i> --------------  Sucessfully created url ------------- </i></h4></div>
   <table class=" table ">
       <thead class="">
           <tr>
               <th>Name</th> 
               <th>Alias</th>
               <th>Url</th>
           </tr>
       </thead>
       <tbody>
           {{#each uri}}
           <tr>

               <td><span ><a href="/{{alias}}" class="blue-text darken-4">{{name}}</a></span></td>
               <td><span>{{alias}}</span></td>
               <td><span>{{url}}</span></td>

            </tr>
        </div>
     </div>

         {{/each}}
        

{{else}}
{{/if}}
       <div class="row">
        <a class="waves-effect waves-light btn" href="/home"> Go back to home </a>
       </div>
    <th> <h6> Your Short Link : </h6> <td>  <h6 class="purple-text darken-4"> https://urlshortenerz/{{alias}} </h6> </td> </th>

