

{{#if uri}}
    <div class="teal lighten-4 green-text text-darken-4 panel panel-default well well-lg ">
          <div class="panel-heading"><h4 class="amber-text lighten-2"><i> --------------------  List of registered urls ------------------ </i></h4></div>
   <table class=" table ">
       <thead class="">
           <tr>
               <th>Name</th>
               <th>Short Url</th>    
               <th>Alias</th>
               <th>Url</th>
               <th>Created at </th>
               <th>Updated at </th>
               
           </tr>
       </thead>
       <tbody>
           {{#each uri}}
           <tr>

               <td><span ><a href="/{{alias}}" class="blue-text darken-4">{{name}}</a></span></td>
               <td><span class="purple-text darken-4"> urlshortenerz/{{alias}} </span></td>
               <td><span>{{alias}}</span></td>
               <td><span>{{url}}</span></td>
               <td><span>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span></td>
               <td><span>{{formatDate updatedAt 'MMMM Do YYYY, h:mm:ss a'}}</span></td>
               

            </tr>
    </div>
         {{/each}}

{{else}}
   <p> No registered urls yet</p>
{{/if}}
