

    {{!-- <div class=" teal lighten-4 green-text text-darken-4 panel panel-default well well-lg ">
          <div class="panel-heading"><h4 class="amber-text lighten-2"><i> --------------------  List of registered urls ------------------ </i></h4></div> --}}
          
<div class="row ">
    <div class=" table">
             <i><a class="waves-effect waves-light green btn" href="/"> Shorten new Url </a> </i>  
               <a class="waves-effect waves-light btn" href="/"> Go back to home </a>

    </div>
    <h4 class="amber-text lighten-4"> ---------------------- <a href="#!" class=""> <i class="teal-text ">  List of registered urls </i> </a> ----------------------- </h4>
    
{{#if uri}}
   <table class="light-green lighten-2 blue-text text-darken-2 striped">
       <thead class="">
           <tr>
               <th>Name</th>
               <th>Short Url</th>    
               <th>Alias</th>
               <th>Url</th>
               <th>Created at </th>
               {{!-- <th>Updated at </th> --}}
               
           </tr>
       </thead>
       <tbody>
           {{#each uri}}
           <tr>

               <td><span ><a href="/{{alias}}" class="blue-text darken-4">{{name}}</a></span></td>
               <td><span class="purple-text darken-4"> lowurl.herokuapp.com/<br>{{alias}} </span></td>
               <td><span>{{alias}}</span></td>
               <td><span>{{url}}</span></td>
               <td><span>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span></td>
               {{!-- <td><span>{{formatDate updatedAt 'MMMM Do YYYY, h:mm:ss a'}}</span></td> --}}
               

            </tr>
         {{/each}}

{{else}}
   <p> No registered urls yet</p>
{{/if}}


       </div>
